/* Add any CSS styles or rules here */

html {
  background-color: #cfcccc;
opacity: 0.6;
background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 80px, transparent 40px);
background-blend-mode: multiply;
min-height: 100vh;
}

.ryan {
  text-align:center;
  color:white;

}
.project {
  text-align:center;
  margin-top: 80px;
}
.skibidi {
  text-align: center;
  margin-top: 200px;
}
.binaryskibidi {
  text-align: center; 
  margin-left: 495px;
  border-style:solid;
  border-color:white;
  color: rgb(0, 255, 255); 

}
.aboutme {
  text-align: center; 
}
.ack {
  text-align: center;
  margin-top: 800px;
}
.ack2 {
  text-align: center;
  margin-bottom: 350px;
}
.link4ack {
  margin-left: 495px;
  margin-top: 50px;
  color: rgb(0, 255, 255)
  
}
.moreproject {
  margin-left: 480px;
  color: rgb(0, 255, 255)
}
html {
  scroll-behavior: smooth;
}