---
import Page from "../components/Page.astro";
---

<Page title="Ryan's Portfolio">
<div>
  <h1 data-aos="slide-down">
    Ryan's Portfolio
  </h1>
  <h2 data-aos="slide-right">Project Menu</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2 data-aos="slide-right">About Me</h2>
  <p data-aos="fade-in">about me here</p>
  </div>
</Page>
