---
import Project from "../../components/Project.astro"
---

<Project
  title="NFL Team Guesser (Binary Search Project)"
  assignment="Create a program built on the concept of binary search"
>
  <p>In this project we worked in groups of 3, in these groups we would then coded a game using binary search. To play the game below input either yes or no based on the answer to the question that is shown. </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/binary-search-game-teddy/" 
    title="Personality Quiz"
    width="100%"
    height="800px"
  ></iframe>

</Project>
