---
import Project from "../../components/Project.astro"
---

<Project
  title="Disease Project"
  assignment="Simulate a disease using a model and graphs. "
>
  <p> In this project we worked in groups of 3 to create filters to edit images. </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <iframe 
    src="https://iacs-cs.github.io/systems-project-disease-modeling-legoat/
" 
    title="Disease Project"
    width="100%"
    height="800px"
  ></iframe>

</Project>