---
import Project from "../../components/Project.astro"
---

<Project
  title="Creating Patrick, Turtle Mini Project"
  assignment="Create a program built on the concept of binary search"
>
  <p>In this project we worked in groups of 3, in these groups we would then coded a game using binary search. To play the game below input either yes or no based on the answer to the question that is shown. </p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="QwLygZK" data-pen-title="APCSP Turtle Mini-Project Ryan Dean" data-user="Ryan-Dean-the-vuer" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/Ryan-Dean-the-vuer/pen/QwLygZK">
  APCSP Turtle Mini-Project Ryan Dean</a> by Ryan Dean (<a href="https://codepen.io/Ryan-Dean-the-vuer">@Ryan-Dean-the-vuer</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>

</Project>
